apiVersion: v1
kind: Secret
metadata:
  name: payloadapi-secrets
  namespace: payloadapi-dev
  labels:
    app: payloadapi
    environment: dev
type: Opaque
stringData:
  ConnectionStrings__DefaultConnection: "CONNECTION_STRING_PLACEHOLDER"
