apiVersion: v1
kind: Secret
metadata:
  name: payloadapi-secrets
  namespace: payloadapi-local
  labels:
    app: payloadapi
    environment: local
type: Opaque
stringData:
  ConnectionStrings__DefaultConnection: "CONNECTION_STRING_PLACEHOLDER"
