apiVersion: v1
kind: Secret
metadata:
  name: payloadapi-secrets
  namespace: payloadapi-prod
  labels:
    app: payloadapi
    environment: prod
type: Opaque
stringData:
  ConnectionStrings__DefaultConnection: "CONNECTION_STRING_PLACEHOLDER"
